// breakpoints
$small:    480px;    
$medium:     768px;   
$large:     1024px;     
// media queries
@mixin media($canvas) {
  @if $canvas == small {
   @media only screen and (min-width: $small) { @content; } 
  }
  @else if $canvas == medium {
   @media only screen and (min-width: $medium) { @content; } 
  }
  @else if $canvas == large {
   @media only screen and (min-width: $large) { @content; } 
  }
}