@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,800,700,600,300);

// colors

$link: #333; // anchor tags
$background: #f5f4e9; // background color
$text: #000; // normal text of light bg

// fonts 

$primary-font: 'Open Sans', sans-serif;