//importing files
@import 'bourbon/bourbon';
@import 'susy/susy';

@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/layout';

$susy: (
  container: 1200px,
); 
 
html * {
    margin-top: 0;
    -webkit-font-smoothing: antialiased; //this
    -webkit-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

body{ 
    -webkit-backface-visibility: hidden;
    font-family: $primary-font;
    font-size: 16px;
    background: $link;
    color: $text;
    -webkit-font-smoothing: antialiased;
    ::selection {
      background: $yellow; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
      background: $yellow; /* Gecko Browsers */
    }
}
a{
    color: $link;
    text-decoration: none;
}

.tcb-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    @include transition(all 0.5s ease);
}
.tcb-menu{
    @include container();
    padding: 10px;
    @include transition(all 0.5s ease);
    background: #0066b2;
    @include user-select(none);
    .logo{
        height: 40px;
        width: 100px; 
        background: #222;
    }
    position: relative;
    &-btn{
        height: 40px;
        width: 40px;
        background: $link url(../css/btn-hamburger.png) center no-repeat;
        background-size: 100%;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        @include media(medium){
            display: none;
        }
    }
    &-items{
        margin-top: 0;
        height: 0;
        overflow: hidden;
        &.open{
            height: auto;
            margin-top: 10px;
        }
        li{
            text-align: center;
            @include font-size(18px);    
            font-weight: bold;
            a{
                display: block;
                padding: 10px;
            }
        }
    }
    @include media(medium){
        padding-top: 60px;
        background: transparent;
        .logo{
            float: left;
            height: 40px;
            width: 160px;
        }
        &-items{
            margin-top: 0;
            float: right;
            height: auto;
            &.open{
                margin-top: 0;
            }
            li{
                @include font-size(18px);
                display: inline-block;
                a{
                    color: #222;
                    display: block;
                    padding: 10px;
                }
            }
        }
    }
} 
.tcb-header.small{
    @include media(medium){
        background: #0066b2;
        .tcb-menu{
            padding-top: 10px;
            &-items{
                li{
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

.hero{
    min-height: 600px;
    background-image: url(../img/black-and-white-nature-sky-field.jpg);
    background-size: cover;
    background-position: bottom;
}

/****************
COMMON STYLES
****************/
.wrapper{
    height: 2999px;
    margin-top: 20px;
    @include media(medium){
        margin-top: 80px;
    }
    @include container();
    .details{
        @include clearfix();
        margin: 50px 0;
        margin-top: 150px;
        h1{
            padding: 10px;
            @include font-size(32px);
            text-align: center;
            margin-bottom: 40px;
            color: #fff;
            font-weight: normal;
        }
        .back-link{
            text-align: center;
            a{
                svg{
                    margin-right: 10px;
                    vertical-align: text-top;
                    display: inline-block;
                }
                display: inline-block;
                margin: 20px 0;
                padding: 15px 30px;
                background: #444;
                color: #fff;
                border-radius: 24px;
            }
        }
    }
}