@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
// colors

$main-text: #f5f4ed; // main text
$link: #f2af00; // anchor tags
$background: #f1f1f1; // background color
$background: #dc5034; // background color
$text: #2d1615;
$pink: #eb246d;
$yellow: #ffd800;
$light-text: #b7b7b7;

// Grid

$grid-bg: #fff;
$article-bg:none;

// fonts 
$primary-font: 'Open Sans', sans-serif;