@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,800,700,600,300);

// colors
$link: #c70808; // anchor tags
$background: #f7ffdd; // background color
$background: #3b5998; // background color
$text: #000;

// fonts 
$primary-font: 'Open Sans', sans-serif;

//social media icon colors
$fb: #3b5998;
$tw: #00aced;
$li: #007bb6;
$gp: #dd4b39;
$yt: #bb0000;
$ig: #517fa4;
$pin: #cb2027;

//menu colors
$menu1:#fafafa;
$menu2:#f2f2f2;
$menu3:#e6e6e6;

//shadows
$shadow1 : 0 0 6px 0 rgba(0, 0, 0, 0.1);
$shadow2 : 0 0 3px 0 rgba(0, 0, 0, 0.09);